---
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE } from "../consts";
const pageTitle = "About Me";

const identity = {
  city: "Los Angeles",
  state: "California",
  occupation: "Product Designer & Software Engineer",
};

const darkImage = "https://storage.googleapis.com/jennyencho-website/landing-img/melody-darkmode.png"
const lightImage = "https://storage.googleapis.com/jennyencho-website/landing-img/melody.png"
---


<html lang="en">
  <BaseLayout>
    <h1 class="text-3xl pb-4">{pageTitle}</h1>
    <h2 class="text-2xl md:text-xl sm:text-md w-5/6 pb-10">{SITE.oneline}</h2>
    <span class="text-base md:text-base flex flex-col md:flex-row w-full gap-4">
      <div class="pb-3 lg:w-full md:w-4/5">
      <p>{SITE.background}</p>
      <p class="pt-4">{SITE.mission}</p>
      </div>
      <div class="w-full md:w-3/5 sm:w-2/5">
        <img src='/melody.svg' alt="Melody" />
      </div>
    </span>
  </BaseLayout>
</html>