---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Case Study in Progress" description="This case study is not available yet.">
  <section class="mt-20 text-center">
    <h1 class="text-2xl font-bold">Case Study In Progress</h1>
    <p class="mt-4 text-sm">This case study is still being written. Please check back soon!</p>
  </section>
</BaseLayout>
