---
import { getCollection } from "astro:content";
import Card from '../components/WorkPreview.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';
const title = "Hi! I'm Jenny."
const projects = (await getCollection('work'))
	.filter((item:any) => !['perspective'].includes(item.slug)) //exclude incomplete case studies
	.sort((a:any, b:any) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
	.slice(0,2);
const entry =(await getCollection('blog'))
	// .filter((item) => !['perspective'].includes(item.slug)) //exclude incomplete case studies
	.sort((a:any, b:any) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
	.slice(0,2); 
---

<BaseLayout title="Jenny Cho's Home" description="Los Angeles-based UX Designer and Software Engineer">
		
	<div class="flex flex-col h-full">
		<h1 class="text-3xl font-brand tracking-wide italic">{title}</h1>
		<p class="w-5/6 pb-10 sm:w-full">
			I'm a UX designer working on internal tools at Develop For Good. 
		</p>
		<!-- <div>
			<h2 class="text-md">My Recent Works</h2>
			<div class="underline decoration-dotted underline-offset-4">
      			<h3><li><a  href="/work/pantheon/">Pantheon: Powering nonprofit volunteer management through seamless tech integration</a></li></h3>
	  			<h3><li><a href="/work/melodyai">PantheonAI: Driving project deliverable success with AI integration</a></li></h3>
				<h3><li><a href="/blog/securing-and-scaling-identity-management">Identity Management with Keycloak and Kubernetes</a></li></h3>	
    		</div>	
			<p>Check out more of my works <a class="hover:text-lightprimary font-bold underline decoration-dotted dark:text-gray-300 dark:hover:text-pink-500" href="/work/">here</a></p>
		</div> -->

		<div class="pb-10">
			<h2 class="text-md font-brand tracking-wide">Featured Works</h2>
			<div class="underline decoration-dotted underline-offset-4">
      			<h3><li><a  href="https://www.okta.com/blog/2024/10/oktas-nonprofit-technology-fellowship-empowering-nonprofit-technology-leaders-across/" target="_blank">Okta's Nonprofit Technology Fellowship: Empowering nonprofit technology leaders across the globe</a></li></h3>
	  			<h3><li><a href="https://developforgood.notion.site/Develop-for-Good-s-Pantheon-0df10a08fdf74fa9bc8d596695aac1a9" target="_blank">Develop For Good: Streamlining Volunteer Management for Nonprofits with Pantheon</a></li></h3>
    		</div>
		</div>

		<h2 class="text-md font-brand tracking-wide">Recent Works</h2>
		
		<li role="list" class="grid">
			{
				projects.map((project:any) => (
					<Card project={project}/>
				))
			}
		</li>
	</div>
</BaseLayout>
<style>
	li a:hover {
		color: var(--accent-regular);
	}
</style>