---
import { getCollection } from "astro:content";
import Card from '../components/Card.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';
const projects = (await getCollection('work'))
	.filter((item:any) => !['melodyai', 'perspective'].includes(item.slug)) //exclude incomplete case studies
	.sort((a:any, b:any) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf());
const entry =(await getCollection('blog'))
	// .filter((item) => !['melodyai'].includes(item.slug)) //exclude incomplete case studies
	.sort((a:any, b:any) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
	.slice(0,2); 
---

<BaseLayout title="Jenny Cho - UX Designer & Engineer" description="Los Angeles-based UX Designer and Software Engineer">
	 <span class="lg:text-base md:text-base sm:text-sm flex flex-col md:flex-row lg:flex-row mt-20 mb-5">
      
      <!-- <img class="h-96 object-contain rounded-tl-lg rounded-tr-lg" src='/headshot.jpg' alt="Jenny pic" /> -->
      <div class="mt-5">
      <h2 class="mb-1 font-brand text-2xl">Hi, I'm Jenny.</h2>
      <p class="text-sm font-body mb-1"><span class="text-lightPrimary dark:text-darkPrimary italic">UX Designer and Data Analyst</span></p>
      <p class="text-sm font-body">Welcome to my digital crib.</p>
	  <hr class="h-px my-4 bg-gray-300 border-0 dark:bg-gray-700">
      </div>
    </span>	
	<div class="lg:text-base md:text-base sm:text-sm flex flex-col mb-10 items-center">

		<div class="items-center">
		<!-- <p class="mb-1 font-brand font-semibold">UX Design</p> -->
		<div role="list" class="grid mx-auto">
            {
                projects.map((project:any) => (
                    <Card project={project} />
                ))
            }
        </div>
	</div>
	</div>
</BaseLayout>
<style>
	li a:hover {
		color: var(--accent-regular);
	}
	.grid {
       display: grid;
		grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
		gap: 2rem;
		padding: 1rem 0;
    }
</style>