---
import { getCollection } from "astro:content";
import Card from '../components/Card.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';
const title = "Jenny Cho"
const description = "Los Angeles-based UX designer and frontend engineer"
const projects = (await getCollection('work'))
	.filter((item:any) => !['perspective'].includes(item.slug)) //exclude incomplete case studies
	.sort((a:any, b:any) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
	.slice(0,2);
const entry =(await getCollection('blog'))
	// .filter((item) => !['perspective'].includes(item.slug)) //exclude incomplete case studies
	.sort((a:any, b:any) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
	.slice(0,2); 
---

<BaseLayout title="Jenny Cho - UX Designer & Engineer" description="Los Angeles-based UX Designer and Software Engineer">
		
	<div class="flex flex-col h-full">
		<h1 class="text-3xl font-brand uppercase tracking-wide">{title}</h1>
		<p class="uppercase pb-10 font-semibold">{description}</p>
		

		<div class="pb-10">
			<h2 class="uppercase font-brand font-semibold tracking-wide">My Work Is Featured In</h2>
			<div class="underline decoration-dotted underline-offset-4">
      			<h3><li><a  href="https://www.okta.com/blog/2024/10/oktas-nonprofit-technology-fellowship-empowering-nonprofit-technology-leaders-across/" target="_blank">Okta: Driving Global Impact Through Nonprofit Tech Leaders  &#8599;</a></li></h3>
	  			<h3><li><a href="https://developforgood.notion.site/Develop-for-Good-s-Pantheon-0df10a08fdf74fa9bc8d596695aac1a9" target="_blank">Develop For Good: Streamlining Volunteer Management with Pantheon &#8599;</a></li></h3>
    		</div>
		</div>

		<div class="mx-auto">
			<h2 class="uppercase font-brand font-semibold tracking-wide pb-3">Currently Working On </h2>
		<div role="list" class="m-auto">
            {
                projects.map((project:any) => (
                    <Card project={project} />
                ))
            }
        </div>
	</div>
	</div>
</BaseLayout>
<style>
	li a:hover {
		color: var(--accent-regular);
	}
	.grid {
       display: grid;
		grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
		gap: 2rem;
		padding: 1rem 0;
    }
</style>