---
import Card from '../components/Card.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import '../styles/global.css';

const projects = (await getCollection('work'))
    .filter((item:any) => !['perspective', 'melodyai'].includes(item.slug)) //exclude incomplete case studies
	.sort((a:any, b:any) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
---

<BaseLayout title="Jenny Cho - Works" description="Case Studies">
        <span class="mt-20 mb-10">
        <h2 class="font-brand text-base">My Works</h2>
        <hr class="h-px bg-gray-300 border-0 dark:bg-gray-700">
        </span>

        <div role="list" class="grid">
            {
                projects.map((project:any) => (
                    <Card project={project} />
                ))
            }
        </div>

    
</BaseLayout>

<style>
    main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: black;
		font-size: 20px;
		line-height: 1.6;
	}
    .grid {
       display: grid;
		/* grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr)); */
		gap: 2rem;
		padding: 0;
    }
</style>