---
import '../styles/global.css';
import { ThemeToggle } from "../components/react/themeToggle"
---
<header class="w-full">
  <nav
    class="flex fixed z-50 gap-2 items-center p-4 w-full dark:bg-darkBg/50 bg-lightBg/50 backdrop-blur-xl dark:shadow-black"
  >
    <div class="flex gap-4 items-center text-sm pr-5 font-semibold">
      <a class="mr-auto font-semibold font-body hover:text-lightPrimary dark:hover:text-darkPrimary" href="/">JNE</a>
      <!-- <a href="/work">Works</a> -->
      <!-- <a href="/about">About</a> -->
      <!-- <a href="https://storage.googleapis.com/jennyencho-website/jenny-cho-web-resume.pdf" target="_blank">Resume</a> -->
    </div>
    <div class="flex ml-auto">
      <ThemeToggle client:load/>
    </div>
  </nav>
</header>
<style>
</style>
