---
import '../styles/global.css';
import ThemeToggle from './ThemeToggle.astro';
---
<header class="w-full">
  <nav
    class="flex fixed z-50 gap-2 items-center p-4 w-full text-base font-semibold shadow-md dark:bg-transparent bg-offwhite backdrop-blur-md dark:shadow-black"
  >
    <div class="flex gap-4 items-center text-base sm:text-sm pr-5">
      <a class="mr-auto" href="/">Home</a>
      <a href="/work">Works</a>
      <a href="/about">About</a>

    </div>
    <div class="flex ml-auto">
      <ThemeToggle />
    </div>
  </nav>
</header>
<style>
  a:hover {
    color: var(--accent-regular);
  }
</style>