---
interface Props {
  org: string | undefined;
  label: string | undefined;
  role: string | undefined;
  timeline: string | undefined;
  second_role: string | undefined;
}
const { org, label, role, second_role, timeline } = Astro.props;

---	
<div class="my-5 block">
  <div class="border-y-2 py-2 my-2 border-gray-300 dark:border-gray-700 flex items-start justify-between">
    <p class="label">Organization</p>
    <p class="value dark:text-gray-200">{org}</p>
  </div>
  <div class="border-b-2 pb-2 mb-2 border-gray-300 dark:border-gray-700 flex items-start justify-between">
    <p class="label">Platform</p>
    <p class="value dark:text-gray-200">{label}</p>
  </div>
  <div class="border-b-2 pb-2 mb-2 border-gray-300 dark:border-gray-700 flex items-start justify-between">
    <p class="label">Role</p>
    <p class="value dark:text-gray-200">{role}{second_role ? `  •  ${second_role}` : ''}</p>
  </div>
  <div class="border-b-2 pb-2 mb-2 border-gray-300 dark:border-gray-700 flex items-start justify-between">
    <p class="label">Timeline</p>
    <p class="value dark:text-gray-200">{timeline || 'N/A'}</p>
  </div>
</div>

	
 <style>	
.my-5 > div {
  display: grid;
  grid-template-columns: 150px 1fr; /* First column fixed, second column flexible */
  gap: 1rem; /*Add spacing between columns if needed*/
}

.label {
  text-transform: uppercase;
  text-align:left;
  font-weight: 600;
  font-size: 0.75rem; 
  color: #9ca3af; 
  letter-spacing: 0.05em; 
}

.value {
  text-align:left;
  font-size: 0.875rem; 
}
.dark .value {
  color: #e5e7eb;
}

.detail-grid {
grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
gap: 1.25rem;
}
/* Responsive styles for smaller screens */
@media (max-width: 640px) {
  .my-5 > div {
    grid-template-columns: 1fr; /* Switch to a single-column layout */
    gap: 0.5rem; /* Reduce spacing for smaller screens */
  }

  .label {
    margin-bottom: 0.25rem;
  }
	
}
 </style>