---
interface Props {
  org: string;
  label: string;
  role: string;
  timeline: string;
  second_role ?: string | undefined;
}
const { org, label, role, second_role, timeline } = Astro.props;

---
 <hr class="border-t-2 mt-5 border-gray-300 dark:border-gray-700" />
	
		<div class="detail-grid gap-4 py-4 justify-center">
		<div>
			<p class="detail-heading">Organization</p>
			<p class="detail-info">{org}</p>
		</div>
		<div>
			<p class="detail-heading">Platform</p>
			<p class="detail-info">{label}</p>
		</div>
		<div class="flex flex-col">
			<p class="detail-heading">Role</p>
			<p class="detail-info">{role}</p>
			<p class="detail-info">{second_role}</p>
		</div>
		<div class="flex flex-col">
			<p class="detail-heading">Timeline</p>
			<p class="detail-info">{timeline || 'N/A'}</p>
		</div>
		</div>
	
		<hr class="mt-3 border-t-2 border-gray-300 dark:border-gray-700" />

 <style>	
	.detail-heading {
		text-transform: uppercase;
		font-weight: 700;
		font-size: 1rem;
		text-align: center;
		color: var(--gray-500);
		letter-spacing: 1px;

	}
	.detail-info {
		font-weight: 500;
		text-align: center;
	}
	.detail-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
	gap: 1.25rem;
	}
	@media  (max-width:640px) {
		.detail-heading {
			font-size: 0.75rem;
		}
		
	}
 </style>