---
import "../styles/global.css";
---

<div id="theme-toggle" class="cursor-pointer">
  <!--moon -->
  <svg id="light-icon" class="w-6 h-6 hidden text-white dark:text-darkText dark:bg-darkBackground" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#ffffff"  viewBox="0 0 24 24">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 21a9 9 0 0 1-.5-17.986V3c-.354.966-.5 1.911-.5 3a9 9 0 0 0 9 9c.239 0 .254.018.488 0A9.004 9.004 0 0 1 12 21Z" />
  </svg>

 <!--sun -->
  <svg id="dark-icon" class="w-6 h-6 text-gray-800 dark:text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#000000" viewBox="0 0 24 24">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5V3m0 18v-2M7.05 7.05 5.636 5.636m12.728 12.728L16.95 16.95M5 12H3m18 0h-2M7.05 16.95l-1.414 1.414M18.364 5.636 16.95 7.05M16 12a4 4 0 1 1-8 0 4 4 0 0 1 8 0Z" />
  </svg>
</div>
<style>
  #light-icon {
    font-size: 1.5rem;
  }
  svg:hover {
    color: var(--accent-regular);
    fill: var(--accent-regular);
  }
</style>
<script>
const lightIcon = document.getElementById('light-icon') as SVGElement | null;
const darkIcon = document.getElementById('dark-icon') as SVGElement | null;
const themeToggle = document.getElementById('theme-toggle') as HTMLDivElement | null;
const isDarkMode = (): boolean => {
  return (
    localStorage.getItem('theme') === 'dark' ||
    (!localStorage.getItem('theme') && window.matchMedia('(prefers-color-scheme: dark)').matches)
  );
};
const updateIcons = (): void => {
  if (document.documentElement.classList.contains('dark')) {
    lightIcon?.classList.remove('hidden');
    darkIcon?.classList.add('hidden');
  } else {
    lightIcon?.classList.add('hidden');
    darkIcon?.classList.remove('hidden');
  }
};
const toggleTheme = (): void => {
  if (document.documentElement.classList.contains('dark')) {
    document.documentElement.classList.remove('dark');
    document.documentElement.classList.add('light');
    localStorage.setItem('theme', 'light');
    // console.log(localStorage.getItem('theme'));
  } else {
    document.documentElement.classList.add('dark');
    document.documentElement.classList.remove('light');  
    // console.log(localStorage.getItem('theme'));
  }
  // console.log(localStorage.getItem('theme'));
  updateIcons();
};
if (isDarkMode()) {
  document.documentElement.classList.add('dark');
} else {
  document.documentElement.classList.remove('dark');
}
updateIcons();
themeToggle?.addEventListener('click', toggleTheme);
</script>
