---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BaseHead from '../components/BaseHead.astro';
interface Props {
	title: string;
	description?: string | undefined;
	image?: string | undefined;
}
const { title, description, image="/jenny-pic.png"} = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} image={image}/>

	</head>
	<body class="bg-lightBg text-lightText dark:bg-darkBg dark:text-darkText">
		<Header />
		<main class="min-h-screen flex flex-col xs:w-[90%] sm:w-[80%] md:w-[75%] lg:w-[70%] xl:w-[65%] mx-auto">
			<slot/>
		</main>
    </body>
	<Footer />
    <script>
		// Add “loaded” class once the document has completely loaded.
		addEventListener('load', () => document.documentElement.classList.add('loaded'));
	</script>
</html>